-i https://pypi.org/simple
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.14; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
attrs==25.3.0; python_version >= '3.8'
certifi==2025.7.14; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
et-xmlfile==2.0.0; python_version >= '3.8'
frozenlist==1.7.0; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
multidict==6.6.3; python_version >= '3.9'
openpyxl==3.1.5; python_version >= '3.8'
propcache==0.3.2; python_version >= '3.9'
requests==2.32.4; python_version >= '3.8'
typing-extensions==4.14.1; python_version >= '3.9'
urllib3==2.5.0; python_version >= '3.9'
yarl==1.20.1; python_version >= '3.9'
